@media (min-width: 406px) {
    #message{
        width: 200px;
        height: 100px;
        background-color: white;
        border: 1px gray solid;
        border-radius: 5px;
        position: relative;
        left: 50%;
        bottom: 100px;
        padding-left: 10px;
        padding-top: 5px;
      }
}
@media (min-width: 1200px) {
    #message{
        width: 200px;
        height: 100px;
        background-color: white;
        border: 1px gray solid;
        border-radius: 5px;
        position: relative;
        left: 87%;
        bottom: 100px;
        padding-left: 10px;
        padding-top: 5px;
      }
}
.teal{
    background-color: teal;
}

