<div class="container">
    <div id="place">


        <div id="form">
            <h1>Reset your password</h1>
            <p class="txt">Please enter a new password</p><br>

            <h3>New password (8 to more characters)</h3>
            <input type="password" class="form-control noMargin" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ABCDEF#12">
            <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, a uppercase, number and a
                special character</small>

            <h3>Confirm new password</h3>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ABCDEF#12">

            <button class="btn btn-primary left">Reset password</button>


        </div>

    </div>

</div>