<div class="container float">
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-image">
            <img class="jmb-img" src="/assets/icons/1x/dp.png" alt="">
        </div>
        <div id="jumbotron-text">
            <div id="name">
                <h2>Abesh Chatterjee</h2>
                <span>Kolkata, India</span>
            </div>

            <div id="j-icons"><a>
                    <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt=""><br>
                </a>
            </div>
        </div>

    </div>
    <div class="mainbody">

        <div class="place">
            <div id="headline">
                <h3>Headline</h3>
                <p class="txt">Art and design enthusiast. Always observing the space around me and finding things that interest
                    and intrigue me. Anything creative draws me in. I have a passion for people, stories, the
                    environment and the visual media! Art and design enthusiast. Always observing the space around me
                    and finding things that interest and intrigue me. Anything creative draws me in. I have a passion
                    for people, stories, the environment and the visual media! Art and design enthusiast. Always
                    observing the space around me and finding things that interest and intrigue me. Anything creative
                    draws me in. I have a passion for people, stories, the environment and the visual media! Art and
                    design enthusiast. </p>
            </div>
            <div id="headline">
                <h3>Experience</h3>
                <div id="experience">
                    <img class="ex-img" src="/assets/icons/1x/bulb.png" alt="" width="50px">
                    <div id="txt-exp">
                        <span class="teal">Creative Head</span>><br>
                        Sustain Design<br>
                        Jan 2015-present. 4years
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="suggestion container">
    <div id="sug-head">
        <h4>Suggestions for you</h4>
    </div>
    <div id="sug-body">
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span>><br>Kolkata, India
            </p><br>
        </div>

    </div>
</div>