<div class="container">
    <div id="place">
        <h1>holagraph</h1><br>
        <p class="txt">Register now to find out what the mass is seeking and providing</p><br>
        <div id="form">
            <h3>Name</h3>
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="First">
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="Last">

            <h3>Email ID</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">
            <h3>Password(8 or more characters)</h3>
            <div class="form-group pass_show">
                <input type="password" class="form-control password" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, a uppercase, number and a
                    special character</small>

            </div>
        </div>
        <div class="agreement">
            <a>**</a>You agree to the HolaGraph<a href=""> Use Agreement</a>, <a href="">Privacy Policy</a> and <a
                href="">Cookie Policy</a><br></div>
        <button class="btn btn-primary">Register</button><br>
        <span id="forpass" routerLink="/forgot-password"><span id="forgot_password_text">forgot password?</span><span class="space">click here to <a routerLink="/register">register now</a></span></span>
    </div>

</div>