<div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-image">
        <img class="jmb-img" src="/assets/icons/1x/dp2.png" alt="">
    </div>
    <div id="jumbotron-text">
        <div id="name">
            <h2>Sustain designer</h2>
            <span>Gurgaon</span>
        </div>

        <div id="j-icons"><a>
                <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt=""><br>
            </a>
            <button class="btn btn-primary jbtn">
                Apply</button>

        </div>
    </div>

</div>
<div class="mainbody">

    <div class="place">
        <div class="heading1">
            <h3>Post Description</h3>
        </div>
        <div id="des1">
            Art and design enthusiast. Always observing the space around me and finding things that interest and
            intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the
            visual media! Art and design enthusiast. Always observing the space around me and finding things that
            interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for
            people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space
            around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion
            for people, stories, the environment and the visual media! Art and design enthusiast. Anything creative
            draws me in. I have a passion for people, stories, the environment and the visual media! Art and design
            enthusiast. Always observing .
        </div>

        <div class="heading1">
            <h3>Job Title</h3>
        </div>
        <div id="des1">
            Art and design enthusiast. Always observing the space around me and finding things that interest and
            intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the
            visual media! Art and design enthusiast. Always observing the space around me and finding things that
            interest and intrigue me.
        </div>
        <h3>Skills required</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="Salary per month">
        </div>
        <h3>Salary Range</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="Skills which are expected from the applicant">
        </div>
        <h3>Employee email</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="abc@abc.com">
        </div>
    </div>

</div>