.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  
  h5{
    font-size: 15px;
    color: teal;
    font-weight: normal;
  }
  .card-body{
    text-align: center;
    padding-top: 50%;
  }
  .place{
    margin-top: 30px;
  }
  .one-edge-shadow {
      -webkit-box-shadow: 0 8px 6px -6px grey;
         -moz-box-shadow: 0 8px 6px -6px grey;
              box-shadow: 0 8px 6px -6px grey;
  }
  .btn:hover, a:active, a:focus {
    border: none !important;
  }
  .card{
    width: 223px;
     height: 276px;
     float: left;
     margin-left: 50px;
     margin-bottom: 30px;
}
  .place{
    border: 1px gray solid;
    padding-top: 100px;
  }

  .cards{
    margin-left: 200px;
  }

  @media (min-width: 406px) {
    .cards{
        margin-left: 70px;
      }
}

@media (min-width: 1200px) {
    .cards{
        margin-left: 200px;
      }
}
