<div class="mainbody">
    <div class="header">
        <h2>Jobs card</h2>
    </div>
    <div class="place">
        <div class="cards">
            <a type="submit" (click)="toJobSearch()">
                <div class="card one-edge-shadow">
                    <div class="card-body">
                        <h5>Search for jobs</h5>
                    </div>
                </div>
            </a>
            <a type="submit" (click)="toArchiveSearch()">
                <div class="card one-edge-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Archive job searches</h5>
                    </div>
                </div>
            </a>

        </div>

    </div>

</div>