.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  input[type=radio] {
      border: 0px;
      width: 100%;
      height: 1em;
  }
  
  
   
  h3{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .statustxt{
    width: 80%;
    float: left;
    border: none;
    
  }
  .status-edit{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }
  #heading{
    background-color: teal;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    margin-bottom: 20px;
    
  }
  .status{
    border: 1px gray solid;
    margin-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 8px 8px -6px gray;
      -moz-box-shadow: 0 8px 8px -6px gray;
       box-shadow: 0 8px 8px -6px gray;
  }
  .status-area{
    margin-left: 20px;
  
  }
  .post{
    margin-top: 30px;
    border: 1px gray solid;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0 8px 8px -6px gray;
      -moz-box-shadow: 0 8px 8px -6px gray;
       box-shadow: 0 8px 8px -6px gray;
  }
  .post-image{
    float: left;
     
    margin-right: 20px;
  }
  .post-text{
    
    margin-left: 70px;
    color: gray;
  }
  .teal{
    color: teal;
    font-weight: bold;
  }
  a{
    color: orange;
    text-decoration: none;
  }
  small{
    color: gray;
  }
  hr{
    height: 1px;
    margin-top: 0px;
    
  }
  .like-comment-icon{
    padding-left: 0px;
    margin-left: 5px;
  }
  .icon-txt{
    text-align: center;
  }
  #icons{
    float: left;
    height: 35px;
    width: 25px;
    margin-right: 25px;
  }
  .icons-div{
    margin-bottom: 50px;
  }
  .report{
    margin-left: 20px;
  }
  .report-img{
    margin-left: 15px;
  }
  .container{
    margin-bottom: 20px;
  }