<div class="container">
    <div class="mainbody">
        <div class="header">
            <h2>Take a holographic skill test and enhance your ability</h2>
        </div>
        <div class="place">
            <h3>Time period</h3>
            <div>

                <input class="form-control" id="frm2" placeholder="1 month, 5 month, etc">
            </div>
            <h3>Name or type of job</h3>
            <div>

                <input class="form-control" id="frm2" placeholder="Mechanic, designer, etc">
            </div>



            <button class="btn btn-default btnplc" type="submit">
                <i class="glyphicon glyphicon-search "><img src="/assets/icons/1x/button.png" width="50px"></i>
            </button>
        </div>
    </div>
</div>