
      <div class="card loan-search-div mx-auto border">
        <div class="card-header bg-green-color">
          <h5 class="mt-3 whtcol proreg user-name">Register for the course now.</h5>
          <button class="btn p-3 ml-auto color-green apply-btn"> Register </button>
        </div>
        <div class="card-body">

            <div class="media mb-4">
              <img class="user-display" src="./../../assets/icons/1x/creative.png" alt="">
              <div >
                <h2 class="proreg color-green user-name ml-3 mr-5 mt-3" >Accounting</h2>
                <p class=" user-place ml-3 ">Sustain Design</p>
                <p class=" user-place ml-3">$ 400</p>
                <p class=" user-place ml-3">10 Seats available</p>
              </div>
            </div>

            <div class="media mb-2">
              <h2 class="proreg color-green user-name ml-3 mr-5 mt-3" >Description of the Course</h2>
            </div>

            <div class="media mb-4">
              <h2 class="proreg user-place ml-3 mr-3 p-3 reg-box" >Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the envir onment and the visual media! Art and design enthusiast. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing . </h2>
            </div>

            <div class="media mb-2">
              <h2 class="proreg color-green user-name ml-3 mr-5 mt-3" >Duration of the Course</h2>
            </div>

            <div class="media mb-4">
              <h2 class="proreg user-place ml-3 mr-3 p-3 reg-box" >Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the envir onment and the visual media! Art and design enthusiast. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing . </h2>
            </div>

            <div class="media mb-2">
              <h2 class="proreg color-green user-name ml-3 mr-5 mt-3" >Advance Payment for the Course</h2>
            </div>

            <div class="media mb-4">
              <h2 class="proreg user-place ml-3 mr-3 p-3 reg-box" >Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the envir onment and the visual media! Art and design enthusiast. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing . </h2>
            </div>

            


           
            
        </div>
      </div>
