<div class="container">
    <div id="place">


        <div id="form">
            <h1>Reset your password to login</h1>
            <p class="txt">Please enter your email id</p><br>

            <h3>Email ID</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">
            <button class="btn btn-primary left">Cancel</button>
            <button class="btn btn-primary  left1">Reset Password</button><br>


        </div>

    </div>

</div>