<div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 border"
        style="padding-left: 0px; padding-right: 0px;"
      >
        <div class="course_title">
          <h3>Details of the courses</h3>
          <button class="register_btn">Register</button>
        </div>
        <div class="content">
          <div class="profile">
            <div class="pro_pic"></div>
            <div class="profile_meta">
              <h4 class="text-green">Video Editing by suresh</h4>
              <p class="tag">Video</p>
              <p class="time">48 hours</p>
            </div>
          </div>
          <div class="course_meta">
            <div class="desc_title text-green">
              Description of the course
            </div>
            <div class="desc_content">
              Art and design enthusiast. Always observing the space around me
              and finding things that interest and intrigue me. Anything
              creative draws me in. I have a pasion for people, stories, the
              environment and the visual media! Art and design enthusiast.
              Always observing the space around me and finding things that
              interest and intrigue me.
            </div>
          </div>
          <div class="course_meta">
            <div class="desc_title text-green">Name of the instructor</div>
            <div class="desc_content short_desc">
              Suresh Thakur<br />www.sureshthakur/holograph/profile.com
            </div>
          </div>
          <div class="course_meta">
            <div class="desc_title text-green">Cost of the course</div>
            <div class="desc_content short_desc">$45000</div>
          </div>
          <div class="course_meta">
            <div class="desc_title text-green">
              Average rating of the course
            </div>
            <div class="desc_content short_desc">4 out of 5</div>
          </div>
          <div class="reviews">
            <h3 class="text-green">Reviews</h3>
            <div class="review_card">
              <div class="review_pro_pic_container">
                <div class="review_pro_pic"></div>
              </div>
              <div class="review_meta">
                <div class="name text-green">Abesh Chaterjee</div>
                <div class="review_date">20.07.2019</div>
              </div>
              <div class="review_rating">
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="unfilled_rating"></div>
              </div>
              <div class="review_content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Corporis, quia adipisci perspiciatis quidem omnis sequi,
                earum, sapiente illo modi deleniti facilis? Aspernatur
                voluptatum officiis, iusto quos eos laboriosam excepturi eum?
                <span>more</span>
              </div>
              <div class="review_reactions_meta">
                <div class="likes">4 likes</div>
                <div class="reacts">2 reacts</div>
                <div class="comments">5 comments</div>
              </div>
              <div class="reactions">
                <div class="like">
                  <button class="btn like_icon review_icon" (click)="like()"> </button>
                  <!-- <div (click)="like()" class="like_icon review_icon"></div> -->
                  <!-- <a  (click)="like()">Like</a> -->
                  <p>Like</p>
                </div>
                <div class="react">
                  <button class="btn react_icon review_icon" (click)="react()"></button>
                  <p >React</p>
                </div>
                <div class="comment">
                  <button class="btn comment_icon review_icon" (click)="comment()"></button>
                  <p >Comment</p>
                </div>
                <div class="report">
                  <button class="btn report_icon review_icon" (click)="report()"></button>
                  <p>Report</p>
                </div>
              </div>
            </div>
            <div class="review_card">
              <div class="review_pro_pic_container">
                <div class="review_pro_pic"></div>
              </div>
              <div class="review_meta">
                <div class="name text-green">Astha Brahma Kuwali</div>
                <div class="review_date">20.07.2019</div>
              </div>
              <div class="review_rating">
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
              </div>
              <div class="review_content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Corporis, quia adipisci perspiciatis quidem omnis sequi,
                earum, sapiente illo modi deleniti facilis? Aspernatur
                voluptatum officiis, iusto quos eos laboriosam excepturi eum?
                <span>more</span>
              </div>
              <div class="review_reactions_meta">
                <div class="likes">4 likes</div>
                <div class="reacts">2 reacts</div>
                <div class="comments">5 comments</div>
              </div>
              <div class="reactions">
                <div class="like">
                  <div class="like_icon review_icon"></div>
                  <p>Like</p>
                </div>
                <div class="react">
                  <div class="react_icon review_icon"></div>
                  <p>React</p>
                </div>
                <div class="comment">
                  <div class="comment_icon review_icon"></div>
                  <p>Comment</p>
                </div>
                <div class="report">
                  <div class="report_icon review_icon"></div>
                  <p>Report</p>
                </div>
              </div>
            </div>
          </div>
          <div class="post_review">
            <h3 class="text-green">Post a review</h3>
            <div class="post_review_card">
              <div class="post_review_pro_pic_container">
                <div class="post_review_pro_pic"></div>
              </div>
              <div class="post_review_metadata">
                <div class="name text-green">Natasha Kulkarni</div>
                <div class="post_review_date">20.07.2019</div>
              </div>
              <div class="review_rating">
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="rating"></div>
                <div class="unfilled_rating"></div>
              </div>
              <div class="write_review">
                <input
                  type="text"
                  name="review"
                  id="review"
                  placeholder="Write a review"
                />
                <i class="capture_icon post_review_icon ic-1"></i>
                <i class="video_icon post_review_icon ic-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 