<div class="mainbody">
    <div class="header">

        <h2>Job across various sectors </h2>
        <div id="filter">
            <button type="button" class="btn ">

                <img src="/assets/icons/1x/Filter.png" alt="" width="22" height="25">

            </button>
        </div>

    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <span id="space1">Apply</span>

                    <img src="/assets/icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/save.png" alt="" width="10px" height="15">
                </div>
                <img class="card-img" src="/assets/icons/1x/bulb.png" alt="Card image cap">

                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Accounting</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <span id="space1">Apply</span>

                    <img src="/assets/icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/save.png" alt="" width="10px" height="15">
                </div>
                <img class="card-img" src="/assets/icons/1x/logo1.png" alt="Card image cap">

                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Magmaven Industries</h4>
                        <span class="card-text">California, USA</span><br>
                        <span class="card-text">UI Designer</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <span id="space1">Apply</span>

                    <img src="/assets/icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/save.png" alt="" width="10px" height="15">
                </div>
                <img class="card-img" src="/assets/icons/1x/logo3.png" alt="Card image cap">

                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Crifford Grace</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <div id="symbols">
                    <span id="space1">Apply</span>

                    <img src="/assets/icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/save.png" alt="" width="10px" height="15">
                </div>
                <img class="card-img" src="/assets/icons/1x/Logo4.png" alt="Card image cap">

                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Gajendra Telecomunication</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="filter-data">
    <p>Alphabetical Order</p> 
    <hr>
    <p>Time since job was posted</p>

   </div>