<div class="container">
    <div class="mainbody">
      <div class="header">
        <h2>Take a holographic skill test and enhance your ability</h2>
      </div>
      <div class="place" >
      <h3>Name of Test</h3>
      <div >
        
        <input class="form-control" id="frm2"   placeholder="Abc Exam, XYZ test">
      </div>
      <h3>Level of test</h3>
      <div id="lvl">        
        <div class="form-check">
        <label class="form-check-label" for="materialChecked2">Easy</label>
        <input type="radio"  id="checked" name="materialExample2" >
      </div>
      <div class="form-check">
        <label class="form-check-label" for="materialChecked2">Intermediate</label>
        <input type="radio"  id="checked" name="materialExample2" >
      </div>
      <div class="form-check">
        <label class="form-check-label" for="materialChecked2">Advanced</label>
        <input type="radio"  id="checked" name="materialExample2" >
      </div>
    </div>
    <button class="btn btn-default btnplc" type="submit">
      <i class="glyphicon glyphicon-search " ><img src="/assets/icons/1x/button.png" width="50px" ></i>
    </button>
    </div>
    </div>
  </div>