<div class="mainbody">
    <div class="header">

        <h2>Your job posting details</h2>
        <div id="button">
            <button type="submit" class="btn btn-primary hbtn active">View and edit post</button>
            <button type="submit" class="btn btn-primary hbtn">View candidates</button>
            <button type="submit" class="btn btn-primary hbtn">Shortlist tab</button>

        </div>

    </div>
    <div class="place">
        <div class="heading1">
            <h3>Post Description</h3>
        </div>
        <div id="des1">
            Art and design enthusiast. Always observing the space around me and finding things that interest and
            intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the
            visual media! Art and design enthusiast. Always observing the space around me and finding things that
            interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for
            people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space
            around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion
            for people, stories, the environment and the visual media! Art and design enthusiast. Anything creative
            draws me in. I have a passion for people, stories, the environment and the visual media! Art and design
            enthusiast. Always observing .
        </div>

        <div class="heading1">
            <h3>Job Title</h3>
        </div>
        <div id="des1">
            Art and design enthusiast. Always observing the space around me and finding things that interest and
            intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the
            visual media! Art and design enthusiast. Always observing the space around me and finding things that
            interest and intrigue me.
        </div>
    </div>
    <div id="button2">
        <button type="submit" class="btn btn-primary hbtn2">Save and repost</button>
        <button type="submit" class="btn btn-danger hbtn3">Remove Post</button>

    </div>

</div>