<div class="mainbody">
    <div class="header">
        <h2>Instant apply jobs</h2>
    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <img class="card-img" src="{{companyObj?.logo}}" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{companyObj?.name}}</h4>
                        <span class="card-text">{{companyObj?.location}}</span><br>
                        <span class="card-text">{{jobObj?.title}}</span>
                    </a>
                </div>

            </div>
        </div>
        <form [formGroup]='uploadResumeForm'>

            <h3>Add an optional message to the Employer</h3>
                <div>

                    <input class="form-control" id="frm2" placeholder="Your message here..."
                        formControlName="employee_memo"
                        [ngClass]="{'is-invalid':uploadResumeForm.get('employee_memo').touched && uploadResumeForm.get('employee_memo').invalid}">
                    <div class="invalid-feedback">
                        <p class="error">This field is required</p>
                    </div>
                </div>
                <div class="heading1 ">
                    <h3 class="left">Upload video resume</h3>
                    <img class="vid-img" src="/assets/icons/1x/video.png">

                </div>
                <div id="des1">
                    Upload your video resume (not more than 30 sec)
                    <input class="form-control" id="frm2" type="file" (change)="onResumeUpload($event);">
                </div>
                <button class="btn btn-primary apply" (click)="onSubmit();">Apply</button>
        </form>
    </div>
</div>