<div class="mainbody">
    <div class="header">
        <h2>Jobs you have saved</h2>
    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <img class="card-img" src="/assets/icons/1x/bulb.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Accounting</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="heading1">
            <h3>Add an optional message to the Employer</h3>
        </div>
        <div id="des1">
            Art and design enthusiast. Always observing the space around me and finding things that interest and
            intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the
            visual media! Art and design enthusiast. Always observing the space around me and finding things that
            interest and intrigue me. Anything creative draws me in. Anything creative draws me in. I have a passion for
            people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space
            around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion
            for people, stories, the envir onment and the visual media! Art and design enthusiast. Anything creative
            draws me in. I have a passion for people, stories, the environment and the visual media! Art and design
            enthusiast. Always observing .
        </div>
        <div class="heading1 ">
            <h3 class="left">Upload video resume</h3>
            <img class="vid-img" src="/assets/icons/1x/video.png">

        </div>
        <div id="des1">
            Upload yout video resume (not more than 30 sec)
        </div>
        <button class="btn btn-primary apply">Apply</button>
    </div>
</div>