<div class="mainbody">
    <div class="header">
        <h2>Post a job</h2>
    </div>
    <div class="place">

        <form class="form2">
            <div class="form-group">
                <label for="exampleInputEmail1">Name of the company</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Abc Industries, XYZ Designs">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Job Role</label>
                <input type="password" class="form-control formcont" id="exampleInputPassword1"
                    placeholder="Engineer, plumber">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Job title</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Title of the job">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Logo</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Upload a logo for the company">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Roles and responsibilities within the job">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Salary Range</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Salary per month">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Skills Required</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Skills which are expected from the applicant">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Employer Email</label>
                <input type="email" class="form-control formcont" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="XXX@XXX.com">
            </div>


            <button type="submit" class="btn btn-primary sub">Submit</button>
        </form>
    </div>

</div>