<div class="container">
    <div class="status">
        <div id="heading">
            <h2>Let your connection know a bit more about you</h2>
        </div>
        <div class="status-area">
            <div id="txtarea">
                <img src="assets/icons/1x/Edit.png" alt="" width="15px" class="status-edit">
                <input type="text" class="form-control statustxt" placeholder="Update your status">
            </div>
            <div>
                <img src="assets/icons/1x/insert.png" alt="" width="22" height="22" id="status-icons">
                <img src="assets/icons/1x/Image.png" alt="" width="25" height="26" id="status-icons">
                <img src="assets/icons/1x/video.png" alt="" width="26" height="24" id="status-icons">
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-image">
            <img src="assets/icons/1x/bulb.png" width="47px">
        </div>
        <div class="post-text">
            <p class="teal">Sustain Design</p><br>
            Gurgaon India<br>
            <p> Now</p>
            <p> Art and design enthusiast. Always observing the space around me and finding things that interest and
                intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and
                the visual media! Art and design enthusiast. Always observing the space around me and finding things
                that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories... <a
                    href="">more</a></p>
        </div>
        <small>5 likes.2 reacts.5 comments</small>
        <hr color="#A9A9A9      ">
        <div class="icons-div">
            <div id="icons"> <img src="assets/icons/1x/like.png" width="19px" height="22px"
                    class="like-comment-icon"><br><small class="icon-txt">Like</small></div>
            <div id="icons"> <img src="assets/icons/1x/smiley.png" width="22px" height="22px"
                    class="like-comment-icon"><small class="icon-txt">React</small></div>
            <div id="icons"> <img src="assets/icons/1x/Comment.png" width="25px" height="22px"
                    class="like-comment-icon report-img"><small class="icon-txt">Comment</small></div>
            <div id="icons" class="report"><img src="assets/icons/1x/Report.png" width="7px" height="22px"
                    class="like-comment-icon report-img"><small class="icon-txt">Report</small></div>
        </div>


    </div>
    <div class="post">
        <div class="post-image">
            <img src="assets/icons/1x/dp.png" width="47px">
        </div>
        <div class="post-text">
            <p class="teal">Sustain Design</p><br>
            Gurgaon India<br>
            <p> Now</p>
            <p> Art and design enthusiast. Always observing the space around me and finding things that interest and
                intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and
                the visual media! Art and design enthusiast. Always observing the space around me and finding things
                that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories... <a
                    href="">more</a></p>
        </div>
        <small>5 likes.2 reacts.5 comments</small>
        <hr color="#A9A9A9      ">
        <div class="icons-div">
            <div id="icons"> <img src="assets/icons/1x/like.png" width="19px" height="22px"
                    class="like-comment-icon"><br><small class="icon-txt">Like</small></div>
            <div id="icons"> <img src="assets/icons/1x/smiley.png" width="22px" height="22px"
                    class="like-comment-icon"><small class="icon-txt">React</small></div>
            <div id="icons"> <img src="assets/icons/1x/Comment.png" width="25px" height="22px"
                    class="like-comment-icon report-img"><small class="icon-txt">Comment</small></div>
            <div id="icons" class="report"><img src="assets/icons/1x/Report.png" width="7px" height="22px"
                    class="like-comment-icon report-img"><small class="icon-txt">Report</small></div>
        </div>


    </div>


</div>

<div class="my-profile">
    <div class="profile-image">
        <img src="/assets/icons/1x/dp.png" alt="" class="pro-img" width="71px">
        <div class="post-text">
            <p class="teal">Natasha Kulkarni</p>Lucknow, India
        </div>
    </div>
    <div class="profile-opt">
        <div id="opt"><a class="grey" href="">View your profile</a></div>
        <div id="opt"><a class="grey" href="">Company Pages managed</a></div>
        <div id="opt"><a class="grey" href="">View Saved jobs</a></div>
        <div id="opt"><a class="grey" href="">View applied jobs</a></div>
        <div id="opt"><a class="grey" href="">Take a holagraph skill test</a></div>
        <div id="opt"><a class="grey" href="">Privacy Setting</a></div>
        <div id="opt"><a class="grey" href="">Log out</a></div>
    </div>
</div>