<div class="container">
    <div id="place">
        <h1>holagraph</h1><br>
        <h2>Welcome Back</h2>
        <p class="txt">log in to stay updated with your seekers and providers</p><br>
        <div id="form">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">

            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="Password"><span class="ptxt">Show</span>
            </div>
        </div>
        <button class="btn btn-primary">Log in</button><br>
        <span id="forpass" routerLink="/forgot-password"><span id="forgot_password_text">forgot password?</span><span class="space"></span>click here to <a routerLink="/register">register now</a></span>
    </div>

</div>