<div class="mainsection2">

    <h1 class="microloan"> Loan Providers <button class="cusbut2"> Select all and apply </button> </h1>
            
    <div class="loandiv">
        <div>
            <img class="loanpic" src="./../../assets/icons/1x/dp.png" alt="">
        </div>
        <div class="loanprofile">
            <h2 class="loanname">Abesh Chatterjee</h2>
            <h3 class="loanplace">Kolkata, India</h3>
        </div>
    </div>

    <div class="loandiv">
        <div>
            <img class="loanpic" src="./../../assets/icons/1x/dp.png" alt="">
        </div>
        <div class="loanprofile">
            <h2 class="loanname">Abesh Chatterjee</h2>
            <h3 class="loanplace">Kolkata, India</h3>
        </div>
    </div>

    <div class="loandiv">
        <div>
            <img class="loanpic" src="./../../assets/icons/1x/dp.png" alt="">
        </div>
        <div class="loanprofile">
            <h2 class="loanname">Abesh Chatterjee</h2>
            <h3 class="loanplace">Kolkata, India</h3>
        </div>
    </div>

    <div class="loandiv">
        <div>
            <img class="loanpic" src="./../../assets/icons/1x/dp.png" alt="">
        </div>
        <div class="loanprofile">
            <h2 class="loanname">Abesh Chatterjee</h2>
            <h3 class="loanplace">Kolkata, India</h3>
        </div>
    </div>

    <div class="loandiv">
        <div>
            <img class="loanpic" src="./../../assets/icons/1x/dp.png" alt="">
        </div>
        <div class="loanprofile">
            <h2 class="loanname">Abesh Chatterjee</h2>
            <h3 class="loanplace">Kolkata, India</h3>
        </div>
    </div>

</div>