<div class="container float">
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-image">
            <img class="jmb-img" src="/assets/icons/1x/dp.png" alt="">
        </div>
        <div id="jumbotron-text">
            <div id="name">
                <h2><span class="teal">Abeash Chatterjee</span></h2>
                <span>Kolkata, India</span><br>
                Graphic Designer
            </div>

            <div id="j-icons"><a>
                    <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt=""><br>
                </a>


            </div>
        </div>

    </div>
    <div class="mainbody">

        <div class="place">
            <div id="headline">
                <h3>Headline <img src="/assets/icons/1x/edit.png" width="22px" class="edit-icon1"></h3>
                <span class="txt">Art and design enthusiast. Always observing the space around me and finding things
                    that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories,
                    the environment and the visual media! Art and design enthusiast. Always observing the space around
                    me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion
                    for people, stories, the environment and the visual media! Art and design enthusiast. Always
                    observing the space around me and finding things that interest and intrigue me. Anything creative
                    draws me in. I have a passion for people, stories, the environment and the visual media! Art and
                    design enthusiast. </span>
            </div>
            <div id="headline">
                <h3>Experience<img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1"></h3>

                <div id="experience">
                    <div id="txt-exp">
                        <img src="/assets/icons/1x/logo1.png" width="50px" class="exp-img">
                        <img src="/assets/icons/1x/edit.png" width="22px" class="edit-icon">

                        <span class="teal">Creative Head</span><br>
                        Sustain Design<br>
                        Jan 2015-present. 4years
                    </div>
                    <div id="txt-exp">

                        <img src="/assets/icons/1x/logo1.png" width="50px" class="exp-img">
                        <img src="/assets/icons/1x/edit.png" width="22px" class="edit-icon">

                        <span class="teal">Creative Head</span><br>

                        Sustain Design<br>
                        Jan 2015-present. 4years
                    </div>


                </div>
            </div>
            <div id="headline">
                <h3>Projects <img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1">
                </h3>
                <div id="experience">
                    <div id="txt-exp">
                        <img src="/assets/icons/1x/logo3.png" width="50px" class="project-img">
                        <img src="/assets/icons/1x/edit.png" width="22px" class="edit-icon">
                        <div class="project-details">

                            <span class="teal">Clifford Grace Law firm</span><br>
                            <p>Copenhanem Denmark</p>
                            Website and Brand designing for the Clifford Grace law firm<br>
                            January 2019 - July 2019 . 7 mos
                        </div>
                    </div>
                    <div class="project-description">
                        <h3>Project description<img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"></h3>
                        <img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon">
                        <div class="pro-des">
                            Art and design enthusiast. Always observing the space around me and finding things that
                            interest and intrigue me. Anything creative draws me in. I have a passion for people,
                            stories, the environment and the visual media! Art and design enthusiast. Always observing
                            the space around me and finding things that interest and intrigue me. Anything creative
                            draws me in. I have a passion for people, stories, the environment and the visual media! Art
                            and design enthusiast. Always observing the space around me and finding things that interest
                            and intrigue me. Anything creative draws me in. I have a passion for people, stories, the
                            environment and the visual media! Art and design enthusiast
                        </div>
                    </div>


                </div>
            </div>
            <div id="headline">
                <h3>Certificates<img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1"></h3>


            </div>
            <div id="headline">
                <h3>Skills <img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"><img src="/assets/icons/1x/edit.png"
                        width="22px" class="edit-icon1"></h3>



                <div class="project-description">

                    <div id="skill">Photoshop</div>
                    <div id="skill">Illustrator</div>
                    <div id="skill">Indesign</div>
                    <div id="skill">AutoCAD</div>
                    <div id="skill">llustrator</div>
                    <div id="skill">Logo Design</div>
                    <div id="skill">Web designing</div>
                </div>

            </div>
            <div id="headline">
                <h3>Upload Resume <img src="/assets/icons/1x/video.png" width="35px" class="edit-icon1"></h3>
                <small class="resume">Upload your resume video (Not more than 30 secs)</small>





            </div>
        </div>

    </div>
</div>
<div class="suggestion container">
    <div id="sug-head">
        <h4>Your Connections</h4>
    </div>
    <div id="sug-body">
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/close.png" width="10px" class="close">

            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <div class="text"><span class="teal">Sanjana Chakroborti</span><br>Kolkata, India</div><br>
        </div>

    </div>
</div>