<div class="mainbody">
    <div class="header">
        <h2>Your job posting</h2>
    </div>
    <div class="place">
        <div *ngFor="let item of jobList">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <img src="icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space">{{(((item.date_posted.split("-")[1])-month))}} months </span>
                    <img src="icons/1x/cross.png" alt="" width="14px" height="12">
                </div>
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{item.job_title}}</h4>
                        <span class="card-text">{{item.location_District}},{{item.location_State}}</span><br>
                        <span class="card-text">{{item.job_role}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
        <!-- <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <img src="icons/1x/star.png" alt="" width="15px" height="14px">


                    <span id="space">2d</span>
                    <img src="icons/1x/cross.png" alt="" width="14px" height="14px">
                </div>
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Magmaven Industries</h4>
                        <span class="card-text">California, USA</span><br>
                        <span class="card-text">UI Designer</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <img src="icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space">2mo</span>
                    <img src="icons/1x/cross.png" alt="" width="10px" height="12">
                </div>
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Crifford Grace</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <a href="">
                        <img src="icons/1x/star.png" alt="" width="14px" height="14px">
                    </a>
                    <span id="space">4d</span>
                    <a href="">
                        <img src="icons/1x/cross.png" alt="" width="10px" height="12">
                    </a>
                </div>
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Gajendra Telecomunication</h4>
                        <span class="card-text">Gurgao, India</span><br>
                        <span class="card-text">Creative Head</span>
                    </a>
                </div>

            </div>
        </div> -->
    </div>
</div>