.jumbotron{
    background-color: white;
  }
  .input-group-btn:hover{
    box-shadow: none;
  }
  .form-control{
    border-right: none;
    border: none;
    color: white;
  }
  .form-control:hover{
    box-shadow: none;
  }
  
  .nav-link{
    color: white;
  }
.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  #jumbotron-text{
    border: 1px gray solid;
    background-color: white;
    height: 120px;
    -webkit-box-shadow: 0 8px 6px -6px gray;
         -moz-box-shadow: 0 8px 6px -6px gray;
              box-shadow: 0 8px 6px -6px gray;
    
  }
  #j-icons{ /*Apply button*/
    margin-top: 20px;
    padding-bottom: 10px;
    
  }
  
  .place{
    
    margin-top: 0px;
    margin-bottom: 30px;
    
  }
  .more-opt{/*more icon*/
    float: right;
    margin-right: 20px;
    
  }
  
  #frm2{
    background-color: lightgray;
    
  }
  .jbtn{
    background-color: teal;
  }
  
  h4{
    font-size: 20px;
  }
  .text{
    font-size: 14px;
    float: left;
    margin-left: 10px;
    color: gray;
  }
  
  .teal{
    color: teal !important;
    font-weight: bolder !important;
  }
  
  h3{
    color: grey;
    font-size: 20px;
    text-decoration: none;
  }
  .txt{
    font-size: 15px;
    color: gray;
  }
  #txt-exp{
    font-size: 15px;
    color: gray;
    margin-left: 10px; 
    margin-bottom: 20px;
    
  }
  
  .exp-img{
    float: left;
    margin-right: 20px;
  }
  .teal{
    color: teal !important;
    font-weight: bold;
    
  }
  .card{
      width: 1000px;
  }
  .card-img{
      width: 100px;
      float: left;
  
  }
  #symbols{
      float: right;
      margin-top: 20px;
      
  }
  #space{
      padding-left: 10px;
  }
  h4{
      color: teal;
      font-size: 20px;
      
  }
  a{
      color: gray;
  }
  a:hover{
      text-decoration: none;
      color: gray;
  
  }
  .card{
      border: none;
  }
  .place{
      border: 1px gray solid;
  }
  h5{
    font-weight: normal;
    color: #A9A9A9
  ;
    font-size: 15px;
  }
  #crdtxt{
      padding-left: 13%;
  }

  @media(min-width: 252px){
    jmb-img{/*image of jumbotron*/
        width: 90px;
        margin-top: 120px;
        border-radius: 50%;
        margin-left: 10px;
      }
      #name{
        float: left;
        margin-left: 100px;
        margin-top: 30px;
        margin-right: 5px;
      
      }
      .jbtn{
        font-size: 5px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1px;
        padding-bottom: 1px;
        
      }
}

@media (min-width: 768px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
}


@media(min-width: 300px){
    #sug-pro{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 0px;
   
  }
  .jbtn{
    font-size: 8px;
    margin-bottom: 2px;
    border-color: teal;
  }
  #sug-head{
    margin-top: 20px;
  }
}

@media (min-width: 406px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      }
      .navbar-brand{
        margin-left: 0px;
        margin-right: 0px;
        color: white;
      }
      .jmb-img{/*image of jumbotron*/
        width: 120px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 10px;
      }
      #name{
        float: left;
        margin-left: 130px;
        margin-top: 30px;
        margin-right: 10px;
      
      }
      #sug-pro{
        margin-top: 10px;
        margin-bottom: 20px;
        float: left;
        margin-left: 2px;
       
      }
      .jbtn{
        font-size: 10px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
      }
      #sug-head{
        margin-top: 20px;
      }
}

@media (min-width: 768px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 250px;
      }
      .jbtn{
        font-size: 12px;
        margin-bottom: 2px;
        border-color: teal;
      }
      .edit-icon{
        margin-right: 200px;
      }
      #sug-head{
        margin-top: 20px;
      }
}

@media (min-width: 992px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
      .jbtn{
        font-size: 12px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
      }
      .edit-icon{
        margin-right: 500px;
      }
      #sug-head{
        margin-top: 20px;
      }
}

@media (min-width: 1200px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
        
      }
      .navbar-brand{
        margin-left: 20px;
        margin-right: 20px;
        color: white;
      }
      .jmb-img{/*image of jumbotron*/
        width: 150px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 30px;
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 400px;
      }
      #frm2{
        background-color: lightgray;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 570px;
      }
      .float{ /*main body*/
        float: left;
        margin-left: 60px;
      }
      .suggestion{
        width: 250px;
        
      
        float: left;
        margin-top: 63px;
        margin-left: 20px;
        border-radius: 5px;
        
      }
      #sug-pro{
        margin-top: 10px;
        margin-bottom: 15px;
        float: left;
        margin-left: 0px;
       
      }
      .jbtn{
        font-size: 15px;
        margin-bottom: 0px;
        border-color: teal;
        padding-left: 5px;
        padding-right: 5px;
      }
      
      .edit-icon{
        margin-right: 800px;
      }
      #sug-head{
        margin-top: 110px;
      }
}