.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  .jumbotron{
    background-color: white;
  }
  
  #jumbotron-text{
    border: 1px gray solid;
    background-color: white;
    height: 120px;
    -webkit-box-shadow: 0 8px 6px -6px gray;
         -moz-box-shadow: 0 8px 6px -6px gray;
              box-shadow: 0 8px 6px -6px gray;
    
  }
  #j-icons{ /*Apply button*/
    margin-top: 20px;
    padding-bottom: 10px;
    
  }
  
  .place{
    
    margin-top: 0px;
    margin-bottom: 30px;
    border: 1px gray solid;
    
  }
  
  #frm2{
    background-color: lightgray;
    
  }
  .jbtn{
    background-color: teal;
  }
  
  h4{
    font-size: 20px;
  }
  
  
  
  h3{
    color: grey;
    font-size: 20px;
    text-decoration: none;
  }
  
  ex-img{
    float: left;
  }
  .teal{
    color: teal !important;
    font-weight: bold;
  }
  .heading{
    background-color: teal;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
  }
  
  
  
  
  
  .sect{
    float: right;
    
    width: 55px;
    height: 20px;
    
  }
  .sect:active{
    background-color: teal;
  }

  @media(min-width: 252px){
    .jmb-img{/*image of jumbotron*/
        width: 90px;
        margin-top: 120px;
        border-radius: 50%;
        margin-left: 10px;
      }
      #name{
        float: left;
        margin-left: 100px;
        margin-top: 30px;
        margin-right: 7px;
      
      }
      .jbtn{
        font-size: 8px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
      }
}

@media(min-width: 300px){
    #sug-pro{
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        margin-left: 10px;
       
      }
      .jbtn{
        font-size: 8px;
        margin-bottom: 2px;
        border-color: teal;
      }
      .sections{
        margin-left: 30px;
        margin-top: 30px;
        background-color: lightgray;
        padding-left: 20px;
        padding-top: 10px;
        width: 300px;
        padding-right: 10px;
        border-radius: 5px;
        color: #696969;
      }
      .change-password{
        text-align: center;
        background-color: lightgray;
        color: gray;
        margin-top: 30px;
        height: 40px;
        width: 300px;
        padding-top: 5px;
        margin-left: 30px;
        border-radius: 5px;
      }
      .select-section{
        text-align: center;
        color: teal;
        margin-top: 30px;
        height: 50px;
        width: 300px;
        padding-top: 5px;
        margin-left: 30px;
        border: 1.5px gray solid;
        border-radius: 5px;
        font-weight: bold;
      }    
}

@media (min-width: 406px) {
    .jmb-img{/*image of jumbotron*/
        width: 120px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 10px;
      }
      #name{
        float: left;
        margin-left: 130px;
        margin-top: 30px;
        margin-right: 70px;
      
      }
      #sug-pro{
        margin-top: 10px;
        margin-bottom: 20px;
        float: left;
        margin-left: 10px;
       
      }
      .jbtn{
        font-size: 10px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
      }
      .sections{
        margin-left: 30px;
        margin-top: 30px;
        background-color: lightgray;
        padding-left: 20px;
        padding-top: 10px;
        width: 300px;
        padding-right: 10px;
        border-radius: 5px;
        color: #696969;
      }
      .change-password{
        text-align: center;
        background-color: lightgray;
        color: gray;
        margin-top: 30px;
        height: 40px;
        width: 300px;
        padding-top: 5px;
        margin-left: 30px;
        border-radius: 5px;
      }
      .select-section{
        text-align: center;
        color: teal;
        margin-top: 30px;
        height: 55px;
        width: 300px;
        padding-top: 5px;
        margin-left: 30px;
        border: 1.5px gray solid;
        border-radius: 5px;
        font-weight: bold;
      }
}

@media (min-width: 768px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 250px;
      }
      .jbtn{
        font-size: 8px;
        margin-bottom: 2px;
        border-color: teal;
      }
}

@media (min-width: 992px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
      .jbtn{
        font-size: 8px;
        margin-bottom: 2px;
        border-color: teal;
        padding-left: 0px;
        padding-right: 0px;
      }
}

@media (min-width: 1200px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
        
      }
      .navbar-brand{
        margin-left: 20px;
        margin-right: 20px;
        color: white;
      }
      .jmb-img{/*image of jumbotron*/
        width: 150px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 30px;
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 500px;
      }
      #frm2{
        background-color: lightgray;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 570px;
      }
      
      .jbtn{
        font-size: 15px;
        margin-bottom: 0px;
        border-color: teal;
        padding-left: 5px;
        padding-right: 5px;
      }
      .more-opt{/*more icon*/
        margin-left: 180px;
        margin-bottom: 20px;
      }
      .sections{
        margin-left: 30px;
        margin-top: 30px;
        background-color: lightgray;
        padding-left: 20px;
        padding-top: 10px;
        width: 500px;
        padding-right: 10px;
        border-radius: 5px;
        color: #696969;
      }
      .change-password{
        text-align: center;
        background-color: lightgray;
        color: gray;
        margin-top: 30px;
        height: 40px;
        width: 500px;
        padding-top: 5px;
        margin-left: 30px;
        border-radius: 5px;
      }
      .select-section{
        text-align: center;
        color: teal;
        margin-top: 30px;
        height: 40px;
        width: 500px;
        padding-top: 5px;
        margin-left: 30px;
        border: 1.5px gray solid;
        border-radius: 5px;
        font-weight: bold;
      }
}