.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  .jumbotron{
    background-color: white;
  }
  #jumbotron-text{
    border: 1px gray solid;
    background-color: white;
    height: 120px;
    -webkit-box-shadow: 0 8px 6px -6px gray;
         -moz-box-shadow: 0 8px 6px -6px gray;
              box-shadow: 0 8px 6px -6px gray;
    
  }
  #j-icons{ /*Apply button*/
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .more-opt{/*more icon*/
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .place{
    
    margin-top: 0px;
    margin-bottom: 30px;
    border: 1px gray solid;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
  }
  #des1{  /*All descriptions */
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: lightgray;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  #frm2{
    background-color: lightgray;
    
  }
  .jbtn{
    background-color: teal;
  }

  @media (min-width: 406px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      }
      .jmb-img{/*image of jumbotron*/
        width: 120px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 10px;
      }
      #name{
        float: left;
        margin-left: 130px;
        margin-top: 30px;
        margin-right: 70px;
      
      }
}

  @media (min-width: 768px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 250px;
      }
    }

  @media (min-width: 992px) {
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
      
      }
    }

  @media(min-width: 1200px){
    .jumbotron-image{
        background-image: url("/assets/icons/1x/Asset 2.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 170px;
        
      }
    .jmb-img{/*image of jumbotron*/
        width: 150px;
        margin-top: 100px;
        border-radius: 50%;
        margin-left: 30px;
      }
      #name{/*name div in jumbotron*/
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        margin-right: 670px;
      }
      #frm2{
        background-color: lightgray;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 570px;
      }
  }
  #profile-share{
    width: 286px;
    height: 90px;
    border: 1px gray solid;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    float: right;
    background-color: white;
    
    position: absolute;
    top: 45%;
     right: 25px;
  }

  .cont{
    width: 80px;
    height: 30px;
    background-color: teal;
    font-size: 12px;
  }