<div class="container" style="padding-left:0%;padding-right:0%">
	
		
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="" />
      </div>
    </div>
    
    <!-- <div class="row">
      
        <img class="img-fluid" src="img/userback.png" alt="" />
      
    </div> -->
    
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="" />
      </div>
    </div>

    
      <div
        class="col-md-12 border"
        style="padding-left: 0px; padding-right: 0px;"
      >
        
         
           <div class="reviews">
            
            <div class="review_cardless">
              <div class="review_pro_pic_container">
                <div class="review_pro_pic" style="border: none;"></div>
              </div>
              <div class="review_meta">
                <div class="name text-green">Sustain Designs</div>
                <div class="review_date">Guragon, India</div>
                <div class="review_date">now</div>
              </div>
              
              <div class="review_content" >
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Corporis, quia adipisci perspiciatis quidem omnis sequi,
                earum, sapiente illo modi deleniti facilis? Aspernatur
                voluptatum officiis, iusto quos eos laboriosam excepturi eum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Corporis, quia adipisci perspiciatis quidem omnis sequi,
                earum, sapiente illo modi deleniti facilis? Aspernatur
                voluptatum officiis, iusto quos eos laboriosam excepturi eum?
                <span class="text-green">more</span>
              </div>
              
              </div>
            </div>
            
            
            
      <div
        class="col-md-12 border"
        style="padding-left: 0px; padding-right: 0px;"
      >
        
         
           <div class="reviews">
            
            <div class="review_cardless">
              <div class="review_pro_pic_container">
                <div class="review_pro_pic" style="border: none;"></div>
              </div>
              <div class="review_meta">
                <div class="name text-green">Sean O'Pry</div>
                <div class="review_date">Copenhagen, Denmark</div>
                <div class="review_date">35 min</div>
              </div>
              
              
              
              <div class="review_content" style="padding-left:0; background-color: #FFF;" >
                <div class="row">
                  <div class="col-md-6">
                    <div class="thumbnail ">
                      <a href="/assets/icons/1x/image.jpg" target="_blank">
                        <img src="/assets/icons/1x/image.jpg" alt="car video" style="width:100%"><br><br>
                        <div class="caption">
                          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="thumbnail ">
                      <a href="/assets/icons/1x/image1.jpg" target="_blank">
                        <img src="/assets/icons/1x/image1.jpg" alt="car video" style="width:100%"><br><br>
                        <div class="caption">
                          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                      </a>
                    </div>
                  </div>
              </div>
              
              </div>
            </div>
            
          
      </div>
    </div>
          
      </div>
    </div>
  