<div class="mainbody">
    <div class="header">

        <h2>Job across various sectors </h2>
        <div id="filter">
            <button type="button" class="btn " (click)="displayJobFilters()">

                <img src="/assets/icons/1x/Filter.png" alt="" width="22" height="25">

            </button>
        </div>

    </div>
    <div class="place">
        <div class="card" style="width: 100%;" *ngFor="let job of jobList">
            <div class="card-body">
                <div id="symbols">
                    <span id="space1">Apply</span>

                    <img src="/assets/icons/1x/star.png" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/save.png" alt="" width="10px" height="15">
                </div>
                <img class="card-img" src="/assets/icons/1x/bulb.png" alt="Card image cap">

                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{job?.company_mail}}</h4>
                        <span class="card-text">{{job?.location_District}}, {{job.location_State}}</span><br>
                        <span class="card-text">{{job?.job_title}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="filter-data" style="display: none;" #filters>
    <p>Alphabetical Order</p>
    <hr>
    <p>Time since job was posted</p>

</div>