<div class="mainbody">
    <div class="header">
        <h2>Search for jobs</h2>
        <div id="button">
            <button type="submit" class="btn btn-primary hbtn">Instant Apply</button>

        </div>
        <div id="filter">
            <button type="button" class="btn ">

                <img src="/assets/icons/1x/Filter.png" alt="" width="22" height="25">

            </button>
        </div>
    </div>
    <div class="place">
        <h3>Name or type of the job</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="Engineer, Graphic Designer, Mechanic">
        </div>
        <h3>State</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="West Bengal, Haryana etc">
        </div>
        <h3>District</h3>
        <div>

            <input class="form-control" id="frm2" placeholder="North 24  paragona, etc">
        </div>
        <div id="from">

            <h3>From</h3>

            <input class="form-control" id="frm3" placeholder="26-07-2019">


        </div>
        <div id="to">
            <h3>To</h3>
            <input class="form-control" id="frm4" placeholder="28-07-2019">
        </div>




        <button class="btn btn-default btnplc" type="submit">
            <i class="glyphicon glyphicon-search "><img src="/assets/icons/1x/button.png" width="50px"></i>
        </button>
    </div>
</div>