<div class="mainbody">
    <div class="header">
        <h2>Your job posting details</h2>
        <div id="button">
            <button type="submit" class="btn btn-primary hbtn">View and edit post</button>
            <button type="submit" class="btn btn-primary hbtn active">View candidates</button>
            <button type="submit" class="btn btn-primary hbtn">Shortlist tab</button>

        </div>
    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <div id="symbols">
                    <a href="">
                        <h5>Shortlist &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Accept &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Reject &nbsp;</h5>
                    </a>
                </div>

                <div id="vidlink">
                    <a href="">
                        <h6>www.linktovideoprofile.com</h6>
                    </a>
                </div>
                <img class="card-img" src="/assets/icons/1x/dp1.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Abesh Chatterjee</h4>
                        <span class="card-text">Gurgao, India</span><br>

                    </a>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <a href="">
                        <h5>Shortlist &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Accept &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Reject &nbsp;</h5>
                    </a>
                </div>

                <div id="vidlink">
                    <a href="">
                        <h6>www.linktovideoprofile.com</h6>
                    </a>
                </div>
                <img class="card-img" src="/assets/icons/1x/dp2.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Sidhart Kumar</h4></a>
                        <span class="card-text">California, USA</span><br>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <a href="">
                        <h5>Shortlist &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Accept &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Reject &nbsp;</h5>
                    </a>
                </div>

                <div id="vidlink">
                    <a href="">
                        <h6>www.linktovideoprofile.com</h6>
                    </a>
                </div>
                <img class="card-img" src="/assets/icons/1x/dp3.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Astha Brahma Kuwali</h4></a>
                        <span class="card-text">Assam, India</span><br>
                </div>

            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div id="symbols">
                    <a href="">
                        <h5>Shortlist &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Accept &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Reject &nbsp;</h5>
                    </a>
                </div>

                <div id="vidlink">
                    <a href="">
                        <h6>www.linktovideoprofile.com</h6>
                    </a>
                </div>
                <img class="card-img" src="/assets/icons/1x/dp4.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Francisco Lochowaski</h4></a>
                        <span class="card-text">California, USA</span><br>
                </div>

            </div>
        </div>
    </div>
</div>