.header{
    background-color: teal;
    height: 63px;
    color: white;
    
    display: flex;
    
    align-items: center;
    padding-left: 30px;
  }
  h2{
    font-size: 19px;
    font-weight: normal;
  
  }
  .card{
      width: 1000px;
  }
  
  #symbols{
      float: right;
      margin-top: 20px;
      
  }
  #space{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 2px;
      color: #A9A9A9;
    font-size: 15px;
  }
  
  h4{
      color: teal;
      font-size: 20px;
      
  }
  a{
      color: gray;
  }
  a:hover{
      text-decoration: none;
      color: gray;
  
  }
  .card{
      border: none;
  }
  .place{
      border: 1px gray solid;
  }
  h5{
    font-weight: normal;
    color: #A9A9A9;
    font-size: 15px;
  }
  .card-img{
      width: 100px;
      float: left;
  
  }
  #crdtxt{
    padding-left: 120px;
  }

  @media (min-width: 1200px) {

  #space1{
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 2px;
    color: #A9A9A9;
    font-size: 15px;
  }
  #filter{
      margin-left: 750px;
  }
}

@media (min-width: 992px) {
    filter{
        margin-left: 850px;
    }
}

@media (min-width: 768px) {
    #filter{
        margin-left: 450px;
    }
}